Thumbs.db
.DS_Store

/database/freo.db
/files/entry_files/
/files/entry_images/
/files/entry_options/
/files/entry_thumbnails/
/files/installs/
/files/media_memos/
/files/media_restrictions/
/files/media_thumbnails/
/files/medias/
/files/page_files/
/files/page_images/
/files/page_options/
/files/page_thumbnails/
/files/plugins/
/files/temporaries/entry_files/
/files/temporaries/entry_images/
/files/temporaries/entry_options/
/files/temporaries/entry_thumbnails/
/files/temporaries/installs/
/files/temporaries/media_memos/
/files/temporaries/media_restrictions/
/files/temporaries/media_thumbnails/
/files/temporaries/medias/
/files/temporaries/page_files/
/files/temporaries/page_images/
/files/temporaries/page_options/
/files/temporaries/page_thumbnails/
/files/temporaries/plugins/
/templates_c/
