<?xml version="1.0" encoding="{if $freo.agent.charset == 'sjis'}shift_jis{else}utf-8{/if}"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset={if $freo.agent.charset == 'sjis'}shift_jis{else}utf-8{/if}" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<title>{$freo.config.basis.title}</title>
<style type="text/css">
{literal}
<![CDATA[
a:link{color:#0000FF;}
a:visited{color:#0000FF;}
]]>
{/literal}
</style>
</head>

<body style="color:#000000;background-color:#FFFFFF;">
<a name="top" id="top"></a>
<div style="font-size:small;">
