{include file='internals/admin/header.html'}
	<div id="content">
		<h2>コメント登録</h2>
		<ul>
			<li>以下の内容で登録します。</li>
		</ul>
		<dl>
			<!--{if $comment.user_id}-->
			<dt>ユーザーID</dt>
				<dd>{$comment.user_id}</dd>
			<dt>名前</dt>
				<dd>{$freo.refer.users[$comment.user_id].name}</dd>
			<!--{/if}-->
			<!--{if $comment.name}-->
			<dt>名前</dt>
				<dd>{$comment.name}</dd>
			<!--{/if}-->
			<!--{if $comment.mail}-->
			<dt>メールアドレス</dt>
				<dd>{$comment.mail}</dd>
			<!--{/if}-->
			<!--{if $comment.url}-->
			<dt>URL</dt>
				<dd>{$comment.url}</dd>
			<!--{/if}-->
			<dt>コメント</dt>
				<dd>{$comment.text|nl2p}</dd>
			<dt>閲覧制限</dt>
				<dd><!--{if $comment.restriction == 'user'}-->登録ユーザーに公開<!--{elseif $comment.restriction == 'admin'}-->管理者に公開<!--{else}-->全体に公開<!--{/if}--></dd>
		</dl>
		<div id="action">
			<form action="{$freo.core.http_file}/admin/comment_form" method="get">
				<fieldset>
					<legend>コメント編集フォーム</legend>
					<input type="hidden" name="session" value="1" />
					<input type="hidden" name="id" value="{$freo.query.id}" />
					<p><input type="submit" value="戻る" /></p>
				</fieldset>
			</form>
			<form action="{$freo.core.http_file}/admin/comment_preview?id={$freo.query.id}" method="post">
				<fieldset>
					<legend>コメント登録フォーム</legend>
					<input type="hidden" name="freo[token]" value="{$token}" />
					<p><input type="submit" value="登録する" /></p>
				</fieldset>
			</form>
		</div>
	</div>
{include file='internals/admin/footer.html'}
