{include file='internals/admin/header.html'}
	<div id="content">
		<h2><!--{if $freo.query.id}-->ID.{$freo.query.id}のフィルターを編集<!--{else}-->フィルター登録<!--{/if}--></h2>
		<!--{if $errors}-->
		<ul class="attention">
			<!--{foreach from=$errors|smarty:nodefaults item='error'}-->
			<li>{$error}</li>
			<!--{/foreach}-->
		</ul>
		<!--{/if}-->
		<ul>
			<li>フィルターを入力してください。</li>
			<li><abbr class="attention" title="入力必須">*</abbr> の付いた項目は入力必須項目です。</li>
		</ul>
		<form action="{$freo.core.http_file}/admin/filter_form{if $freo.query.id}?id={$freo.query.id}{/if}" method="post">
			<fieldset>
				<legend>フィルター登録フォーム</legend>
				<input type="hidden" name="freo[token]" value="{$token}" />
				<!--{if $freo.query.id}-->
				<input type="hidden" name="filter[id]" value="{$input.filter.id}" />
				<!--{/if}-->
				<dl>
					<!--{if !$freo.query.id}-->
					<dt>フィルターID <abbr class="attention" title="入力必須">*</abbr></dt>
						<dd><input type="text" name="filter[id]" size="30" value="{$input.filter.id}" /></dd>
					<!--{/if}-->
					<dt>フィルター名 <abbr class="attention" title="入力必須">*</abbr></dt>
						<dd><input type="text" name="filter[name]" size="50" value="{$input.filter.name}" /></dd>
					<dt>説明</dt>
						<dd><textarea name="filter[memo]" cols="50" rows="5">{$input.filter.memo}</textarea></dd>
					<dt>並び順 <abbr class="attention" title="入力必須">*</abbr></dt>
						<dd><input type="text" name="filter[sort]" size="5" value="{$input.filter.sort}" /></dd>
				</dl>
				<p><input type="submit" value="登録する" /></p>
			</fieldset>
		</form>
		<!--{if $freo.query.id}-->
		<h2>ID.{$freo.query.id}のフィルターを削除</h2>
		<ul>
			<li>このフィルターを削除するには、<em>削除ボタン</em>を押してください。</li>
		</ul>
		<form action="{$freo.core.http_file}/admin/filter_delete" method="get" class="delete">
			<fieldset>
				<legend>フィルター削除フォーム</legend>
				<input type="hidden" name="freo[token]" value="{$token}" />
				<input type="hidden" name="id" value="{$freo.query.id}" />
				<p><input type="submit" value="削除する" /></p>
			</fieldset>
		</form>
		<!--{/if}-->
	</div>
{include file='internals/admin/footer.html'}
