{include file='internals/admin/header.html'}
	<div id="content">
		<h2><!--{if $freo.query.id}-->ID.{$freo.query.id}のユーザーを編集<!--{else}-->ユーザー登録<!--{/if}--></h2>
		<!--{if $errors}-->
		<ul class="attention">
			<!--{foreach from=$errors|smarty:nodefaults item='error'}-->
			<li>{$error}</li>
			<!--{/foreach}-->
		</ul>
		<!--{/if}-->
		<ul>
			<li>ユーザーを入力してください。</li>
			<li><abbr class="attention" title="入力必須">*</abbr> の付いた項目は入力必須項目です。</li>
		</ul>
		<form action="{$freo.core.https_file}/admin/user_form{if $freo.query.id}?id={$freo.query.id}{/if}" method="post">
			<fieldset>
				<legend>ユーザー登録フォーム</legend>
				<input type="hidden" name="freo[token]" value="{$token}" />
				<!--{if $freo.query.id}--><input type="hidden" name="user[id]" value="{$input.user.id}" /><!--{/if}-->
				<dl>
					<!--{if !$freo.query.id}-->
					<dt>ユーザーID <abbr class="attention" title="入力必須">*</abbr></dt>
						<dd><input type="text" name="user[id]" size="30" value="{$input.user.id}" /></dd>
					<dt>パスワード <abbr class="attention" title="入力必須">*</abbr></dt>
						<dd><input type="password" name="user[password]" size="30" value="{$input.user.password}" /></dd>
					<!--{/if}-->
					<dt>権限 <abbr class="attention" title="入力必須">*</abbr></dt>
						<dd>
							<select name="user[authority]">
								<option value="root"{if $input.user.authority == 'root'} selected="selected"{/if}>管理者</option>
								<option value="author"{if $input.user.authority == 'author'} selected="selected"{/if}>投稿者</option>
								<option value="guest"{if $input.user.authority == 'guest'} selected="selected"{/if}>ゲスト</option>
							</select>
						</dd>
					<dt>名前 <abbr class="attention" title="入力必須">*</abbr></dt>
						<dd><input type="text" name="user[name]" size="30" value="{$input.user.name}" /></dd>
					<dt>メールアドレス <abbr class="attention" title="入力必須">*</abbr></dt>
						<dd><input type="text" name="user[mail]" size="30" value="{$input.user.mail}" /></dd>
					<dt>URL</dt>
						<dd><input type="text" name="user[url]" size="30" value="{$input.user.url}" /></dd>
					<dt>紹介文</dt>
						<dd><textarea name="user[text]" cols="50" rows="5">{$input.user.text}</textarea></dd>
					<!--{if $freo.config.entry.restriction or $freo.config.page.restriction}-->
					<dt>グループ</dt>
						<dd class="list">
							<ul>
								<!--{foreach from=$freo.refer.groups|smarty:nodefaults item='refer_group'}-->
								<li><input type="checkbox" name="user_associate[group][{$refer_group.id}]" id="label_group_{$refer_group.id}" value="1"{if $input.user_associate.group[$refer_group.id]} checked="checked"{/if} /> <label for="label_group_{$refer_group.id}">{$refer_group.name}</label></li>
								<!--{foreachelse}-->
								<li>グループが登録されていません。</li>
								<!--{/foreach}-->
							</ul>
						</dd>
					<!--{/if}-->
				</dl>
				<p>
					<input type="submit" name="preview" value="確認する" />
					<input type="submit" value="登録する" />
				</p>
			</fieldset>
		</form>
		<!--{if $freo.query.id}-->
		<!--{if $input.user.approved == 'no'}-->
		<h2>ID.{$freo.query.id}のユーザーを承認</h2>
		<ul>
			<li>このユーザーは<em>未承認</em>です。</li>
			<li>このユーザーを承認するには、<em>承認ボタン</em>を押してください。</li>
		</ul>
		<form action="{$freo.core.http_file}/admin/user_approve" method="get" class="approve">
			<fieldset>
				<legend>ユーザー承認フォーム</legend>
				<input type="hidden" name="freo[token]" value="{$token}" />
				<input type="hidden" name="id" value="{$freo.query.id}" />
				<p><input type="submit" value="承認する" /></p>
			</fieldset>
		</form>
		<!--{/if}-->
		<h2 id="user_delete">ID.{$freo.query.id}のユーザーを削除</h2>
		<ul>
			<li>このユーザーを削除するには、<em>削除ボタン</em>を押してください。</li>
			<li>すでに登録された記事は、削除するか所有者を変更することができます。</li>
		</ul>
		<form action="{$freo.core.http_file}/admin/user_delete" method="get" class="delete">
			<fieldset>
				<legend>ユーザー削除フォーム</legend>
				<input type="hidden" name="freo[token]" value="{$token}" />
				<input type="hidden" name="id" value="{$freo.query.id}" />
				<dl>
					<dt>登録された記事の扱い</dt>
						<dd>
							<ul>
								<li><input type="radio" name="article" id="label_article_delete" value="delete" checked="checked" /> <label for="label_article_delete">ユーザーが登録した記事も一括削除</label></li>
								<li>
									<input type="radio" name="article" id="label_article_alter" value="alter" />
									<label for="label_article_alter">
										ユーザーが登録した記事の所有者を
										<select name="user">
											<!--{foreach from=$freo.refer.users|smarty:nodefaults item='refer_user'}-->
											<!--{if $refer_user.id != $freo.query.id}-->
											<option value="{$refer_user.id}">{$refer_user.id}</option>
											<!--{/if}-->
											<!--{/foreach}-->
										</select>
										に変更
									</label>
								</li>
							</ul>
						</dd>
				</dl>
				<p><input type="submit" value="削除する" /></p>
			</fieldset>
		</form>
		<!--{/if}-->
	</div>
{include file='internals/admin/footer.html'}
