{include file='header.html'}
	<h2>ユーザー用ページ</h2>
	<h3>プロフィール登録</h3>
	<ul>
		<li>以下の内容で登録します。</li>
	</ul>
	<dl>
		<dt>名前</dt>
			<dd>{$user.name}</dd>
		<dt>メールアドレス</dt>
			<dd>{$user.mail}</dd>
		<!--{if $user.url}-->
		<dt>URL</dt>
			<dd>{$user.url}</dd>
		<!--{/if}-->
		<!--{if $user.text}-->
		<dt>紹介文</dt>
			<dd>{$user.text|nl2p}</dd>
		<!--{/if}-->
	</dl>
	<div id="action">
		<form action="{$freo.core.http_file}/user/profile_form" method="get">
			<fieldset>
				<legend>プロフィール編集フォーム</legend>
				<input type="hidden" name="session" value="1" />
				<p><input type="submit" value="戻る" /></p>
			</fieldset>
		</form>
		<form action="{$freo.core.http_file}/user/profile_preview" method="post">
			<fieldset>
				<legend>プロフィール登録フォーム</legend>
				<input type="hidden" name="freo[token]" value="{$token}" />
				<p><input type="submit" value="登録する" /></p>
			</fieldset>
		</form>
	</div>
{include file='footer.html'}
